@charset "utf-8";




.changecolor  {
    text-shadow: 0px 0px #359e68;}
.titebg {
    background-image: url(../images/greentiles.png);
    background-repeat: repeat;
}
.tilepink {
    background-image: url(../images/pinktiles.jpg);
    background-repeat: repeat;
}

.pinkletters {
    color: #FF00AC;
    
}


.bigletters
{
    font-size: x-large;
    color: #FF31C1;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}


